name: Teste Cron Est치vel

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Escolha o Ambiente"
        required: true
        type: choice
        options:
          - Produ칞칚o
          - testFlight (Desenvolvimento)
      version:
        description: "Notas da vers칚o (Apenas Produ칞칚o)"
        required: true
        type: string

  # schedule:
  #   - cron: "*/2 * * * *"

jobs:
  exibir-origem:
    runs-on: ubuntu-latest
    steps:
      - name: Exibir origem da execu칞칚o
        run: |
          echo "Workflow acionado via: ${{ github.event_name }}"
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "Ambiente selecionado: ${{ github.event.inputs.environment }}"
          else
            echo "Execu칞칚o autom치tica mensal."

  deploy-prod:
    if: ${{ github.event.inputs.environment == 'prod' && github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy no ambiente de Produ칞칚o
        run: echo "Executando deploy para PRODU칂츾O 游"

  deploy-testflight:
    if: ${{ github.event.inputs.environment == 'testFlight' && github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy no ambiente de TestFlight
        run: echo "Executando deploy para TESTFLIGHT 游빍"

  deploy-cron:
    if: ${{ github.event_name == 'schedule' }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy autom치tico via Cron
        run: echo "ir치 fazer o deploy automatico para PRODU칂츾O 游"
